# App
APP_PORT=8080
APP_NAME=basecode
APP_MODE=debug


# Database Postgresql
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=basecode_golang


# JWT
JWT_SECRET=s3cR3T